@import url('https://fonts.googleapis.com/css2?family=Scheherazade+New:wght@700&display=swap');
*{
  scroll-behavior: smooth;
}
.App{
  min-height: 100vh;
  background-color: #636e72;
  color: white;
  padding-top: 130px;
  padding-bottom: 70px;
}


@media (max-width:700px){
  .App{
    padding-top: 70px;
  }
}

.page-title {
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  font-family: 'Scheherazade New', serif;
  font-size: 4vw;
  padding: 0px;
  color: white;
}

@media (max-width: 1000px) {
  .page-title {
    font-size: 6.4vw;
  }
}
